@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden ;
    
    /* -ms-overflow-style: none; 
    scrollbar-width: none;  */
}

#hompage-2 {
    background-image: url('./assets/images/homepage-2.svg');
}
#hompage-5 {
    background-image: url('./assets/images/homepage-5.svg');
}

/* ::-webkit-scrollbar {
    display: none;
} */